
/**** MOBILE STYLE ****/

    *, *:before, *:after {
      box-sizing: border-box;
    }

    body {
      background-color: #dadada;
      font-size: 100%;
      dislay: block;
      width: 100%;
    }

    section {
      /* margin: 0 auto; */
      width: 100%;
    }

/**** HEADERS ****/

    h1 { /* Location Titles */
      font-size: 160%;
    }

    .site-title { /* Site Title */
      font-size: 100%;
      font-family: system-ui, sans-serif;
      text-transform: uppercase;
      text-align: center;
      width: 100%;
      display: block;
      padding: 8%;
    }

/**** TRAVEL LOCATIONS ****/

      div {
        display: inline-block;
        width: 100%;
        padding: 35px 0px 230px 35px;
        margin-bottom: 15px;
        background-size: 400px 300px;
        background-repeat: no-repeat;
      }

/**** DIV LOCATION IMAGES ****/

      /* Baku */
        .preview-baku {
          background-image: url(../images/baku.jpg);
        }

      /* London */
        .preview-london {
          background-image: url(../images/london.png);
        }

      /* Madrid */
        .preview-madrid {
          background-image: url(../images/madrid.jpg);
        }

      /* Rome */
        .preview-rome {
          background-image: url(../images/rome.jpg);
        }


/**** Design for Tablets ****/
    @media screen and (min-width: 575px)
      {
          h1 { /* Location Titles */
            font-size: 140%;
          }

          .site-title { /* Site Title */
            font-size: 120%;
            font-family: system-ui, sans-serif;
            text-transform: uppercase;
            text-align: center;
            width: 100%;
            display: block;
            padding: 4%;
          }


        /**** TRAVEL LOCATIONS ****/
          div {
            display: inline-block;
            width: 36%;
            padding: 20px 100px 130px 30px;
            margin: 4px 0px 10px 10px;
            background-size: 300px 200px;
            background-repeat: no-repeat;
          }


        /**** DIV LOCATION IMAGES ****/

          /* Baku */
            .preview-baku {
              background-image: url(../images/baku.jpg);
            }

          /* London */
            .preview-london {
              background-image: url(../images/london.png);
            }

          /* Madrid */
            .preview-madrid {
              background-image: url(../images/madrid.jpg);
            }

          /* Rome */
            .preview-rome {
              background-image: url(../images/rome.jpg);
            }
  }

/**** Design for Laptops ****/
    @media screen and (min-width: 991px)
      {
        h1 { /* Location Titles */
          font-size: 160%;
        }

        .page-title { /* Site Title */
          font-size: 120%;
          font-family: system-ui, sans-serif;
          text-transform: uppercase;
          text-align: center;
          width: 100%;
          display: block;
          padding: 1%;
        }

      /**** TRAVEL LOCATIONS ****/
        div {
          display: inline-block;
          width: 19%;
          padding: 20px 0px 140px 20px;
          margin: 4px 0px 10px 10px;
          background-size: 300px 200px;
          background-repeat: no-repeat;
        }

      /**** DIV LOCATION IMAGES ****/

          /* Baku */
            .preview-baku {
              background-image: url(../images/baku.jpg);
            }

          /* London */
            .preview-london {
              background-image: url(../images/london.png);
            }

          /* Madrid */
            .preview-madrid {
              background-image: url(../images/madrid.jpg);
            }

          /* Rome */
            .preview-rome {
              background-image: url(../images/rome.jpg);
            }
}
